/* homepage */

// 1. HOME--splash-screen
.home-splash-screen {
  position: fixed;
  background-image: url(img/splash-screen.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  z-index: 9;
  top:  0;
  left: 0;
  width:  100vw;
  height: 100vh;
  transition: all .5s ease-in-out;

  &.js-is-hidden {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
}



// 2. HOME--slider
.home__slider {
  height: 534px;

  &__slide {

    &__img {
      height: 437px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: inset -1px 2.8px 6px 0 rgba(0, 0, 0, 0.3);
    }

    &__text {

      &--title {
        color: $c-txt;
      }

      &--desc {
        color: $c-brand;
      }
    }

    
    // 2 images(2-1) in one slide
    &--2-1 {
      display: flex !important;

      &__left {
        width: calc((425px * 2) + 12px);
        margin-right: 12px;
      }

      &__right {
        width: 425px;
      }
    }

    // 2 images(1-2) in one slide
    &--1-2 {
      display: flex !important;

      &__left {
        width: 425px;
      }

      &__right {
        width: calc((425px * 2) + 12px);
        margin-left: 12px;
      }
    }

    
    // 3 same width images in one slide
    &--3 {
      display: flex !important;

      &__inner {
        // width: 425px;
        width: calc((100% - 24px) / 3);

        &:nth-child(even) {
          margin: 0 12px;
        }
      }
    }
  }





  // &--three {

  //   &__slide {
  //     width: 425px;
  //     height: 437px;
  //   }

  //   &__slide:nth-child(even) {
  //     margin: 0 10px;
  //   }
  // }

}